<div class="searchBar">
    <form>
        <label>Search: <input type="text" ng-model="query"></label>
        <select ng-model="orderProp">
            <option value="-date">Date</option>
            <option value="-rating">Rating</option>
        </select>
    </form>
    <h2>Comments</h2>
</div>

<ul class="commentsList">
    <li ng-repeat="comment in comments | filter:query | orderBy:orderProp">
        <strong class="title">Rating</strong>
        <button type="button" class="increaseButton" ng-click="increaseRating(comment)">
            +
        </button>
        {{comment.rating}}
        <button type="button" class="decreaseBtn" ng-click="decreaseRating(comment)">
            -
        </button>

        <div class="comment">{{comment.body}}</div>
        <div class="info">
            by <span class="username">{{comment.username}}</span> on <span class="date">{{comment.date | date:"MM/dd/yyyy"}}</span>
            Coordinates: {{comment.coords[0].lat}} - {{comment.coords[0].lng}}
        </div>
    </li>
</ul>

<div class="commentForm">
    <form name="newCommentForm" novalidate class="newComment" ng-submit="addComment()">
        <div class="heading">
            <label>Username: <input type="text" class="username" ng-model="newComment.username" name="comment" required/></label>
            <h3>Rating {{newComment.rating}}</h3>
        </div>
        <textarea ng-model="newComment.body" class="commentArea" required></textarea>
        <div class="btn-holder">
            <button type="submit" class="addCommentBtn" ng-disabled="newCommentForm.$invalid">Add comment</button>
        </div>
    </form>
</div>
