<div class="searchBar">
    <form>
        <label>Filter: <!--<input type="text" ng-model="query">--></label>
        <select ng-model="orderProp">
            <option value="-date">Date</option>
            <option value="-rating">Rating</option>
        </select>
        <!--<h3>Rating: <span>{{newComment.rating}}</span></h3>-->
    </form>
    <h2>Comments</h2>
</div>

<div class="commentsList">
    <a href="#" class="all-comments">All Comments</a>
    <ul class="commentsListInfo">
        <li ng-repeat="comment in comments | filter:query | orderBy:orderProp">
            <div class="rating">
                <button type="button" class="increaseButton" ng-click="increaseRating(comment)">+</button>
                <span class="info">{{comment.rating}}</span>
                <button type="button" class="decreaseBtn" ng-click="decreaseRating(comment)">-</button>
            </div>
            <div class="textbox">
                <p class="comment">{{comment.body}}</p>
                <p class="info">
                    <span class="username">{{comment.username}}</span> wrote on <span class="date">{{comment.date | date:"MM/dd/yyyy"}}</span>
                </p>
            </div>
        </li>
    </ul>
</div>

<div class="commentForm">
    <form name="newCommentForm" novalidate class="newComment" ng-submit="addComment()">
        <div class="row">
            <div class="item-name">
                <label>Username: <input type="text" class="username" ng-model="newComment.username" name="comment" required/></label>
            </div>
            <div class="item-area">
                <label>Message: <textarea ng-model="newComment.body" class="commentArea" required></textarea></label>
            </div>
        </div>
        <div class="btn-holder">
            <button type="submit" class="addCommentBtn" ng-disabled="newCommentForm.$invalid">Add comment</button>
        </div>
    </form>
</div>
