

.comments {
    list-style-type: none;
}

.rating {
}

.commentArea{
    height: 150px;
    width: 100%;
}
.searchBar{
    padding: 10px 10px 10px 28px;
}

.ratingBtn{
    width: 19px;
}
.addCommentBtn{
    text-align: right;
    margin: 5px;
}
.author {
    color: #808080;
    text-align: right;
}

/*.newComment .ng-invalid.ng-dirty {*/
    /*background-color: #FA787E;*/
/*}*/

/*.newComment .ng-valid.ng-dirty {*/
    /*background-color: #78FA89;*/
/*}*/
